<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diver1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{193,500}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,500}}</string>
                <key>sourceSize</key>
                <string>{213,500}</string>
            </dict>
            <key>diver2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,0},{193,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{193,500}}</string>
                <key>sourceSize</key>
                <string>{213,500}</string>
            </dict>
            <key>diver3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{213,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,500}}</string>
                <key>sourceSize</key>
                <string>{213,500}</string>
            </dict>
            <key>diver4.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,502},{193,500}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{193,500}}</string>
                <key>sourceSize</key>
                <string>{213,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diver.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afa49f4d7398bedda9685757122ee36c:1/1$</string>
            <key>textureFileName</key>
            <string>diver.png</string>
        </dict>
    </dict>
</plist>
