<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>squid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{386,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{386,193}}</string>
                <key>sourceSize</key>
                <string>{420,193}</string>
            </dict>
            <key>squid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,195},{404,151}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{404,151}}</string>
                <key>sourceSize</key>
                <string>{420,193}</string>
            </dict>
            <key>squid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{420,125}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{420,125}}</string>
                <key>sourceSize</key>
                <string>{420,193}</string>
            </dict>
            <key>squid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,475},{420,115}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{420,115}}</string>
                <key>sourceSize</key>
                <string>{420,193}</string>
            </dict>
            <key>squid5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{420,107}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{420,107}}</string>
                <key>sourceSize</key>
                <string>{420,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>squid.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:937cf1bad677dafa8a441784e137002a:1/1$</string>
            <key>textureFileName</key>
            <string>squid.png</string>
        </dict>
    </dict>
</plist>
