<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turtle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{424,335}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{424,335}}</string>
                <key>sourceSize</key>
                <string>{432,403}</string>
            </dict>
            <key>turtle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{432,395}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{432,395}}</string>
                <key>sourceSize</key>
                <string>{432,403}</string>
            </dict>
            <key>turtle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,397},{432,395}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{432,395}}</string>
                <key>sourceSize</key>
                <string>{432,403}</string>
            </dict>
            <key>turtle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,397},{432,395}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,395}}</string>
                <key>sourceSize</key>
                <string>{432,403}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>turtle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aa399401288d63b8ddf1e8787f6d4fa:1/1$</string>
            <key>textureFileName</key>
            <string>turtle.png</string>
        </dict>
    </dict>
</plist>
