<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turtle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,192}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,196}</string>
            </dict>
            <key>turtle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{210,192}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,196}</string>
            </dict>
            <key>turtle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{210,192}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{210,192}}</string>
                <key>sourceSize</key>
                <string>{210,196}</string>
            </dict>
            <key>turtle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,194},{206,164}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{206,164}}</string>
                <key>sourceSize</key>
                <string>{210,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>turtle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31ed4de0a5288aa3a1a3d7037fa9daf9:1/1$</string>
            <key>textureFileName</key>
            <string>turtle.png</string>
        </dict>
    </dict>
</plist>
