<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diver1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{115,294}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,294}}</string>
                <key>sourceSize</key>
                <string>{125,294}</string>
            </dict>
            <key>diver2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,0},{115,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{115,294}}</string>
                <key>sourceSize</key>
                <string>{125,294}</string>
            </dict>
            <key>diver3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{125,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,294}}</string>
                <key>sourceSize</key>
                <string>{125,294}</string>
            </dict>
            <key>diver4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,0},{115,294}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{115,294}}</string>
                <key>sourceSize</key>
                <string>{125,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diver.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb4762dadbcca5c9dd0df0353de7a9f1:1/1$</string>
            <key>textureFileName</key>
            <string>diver.png</string>
        </dict>
    </dict>
</plist>
