<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ray1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{290,250}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{290,250}}</string>
                <key>sourceSize</key>
                <string>{294,250}</string>
            </dict>
            <key>ray2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{276,240}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{276,240}}</string>
                <key>sourceSize</key>
                <string>{294,250}</string>
            </dict>
            <key>ray3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,0},{290,250}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{290,250}}</string>
                <key>sourceSize</key>
                <string>{294,250}</string>
            </dict>
            <key>ray4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{276,222}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{276,222}}</string>
                <key>sourceSize</key>
                <string>{294,250}</string>
            </dict>
            <key>ray5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,252},{294,246}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,246}}</string>
                <key>sourceSize</key>
                <string>{294,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ray.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b32b07cd506102e8f674ea933f1c905:1/1$</string>
            <key>textureFileName</key>
            <string>ray.png</string>
        </dict>
    </dict>
</plist>
