<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turtle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{294,268}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,268}}</string>
                <key>sourceSize</key>
                <string>{294,274}</string>
            </dict>
            <key>turtle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{294,268}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{294,268}}</string>
                <key>sourceSize</key>
                <string>{294,274}</string>
            </dict>
            <key>turtle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{294,268}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{294,268}}</string>
                <key>sourceSize</key>
                <string>{294,274}</string>
            </dict>
            <key>turtle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{288,230}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{288,230}}</string>
                <key>sourceSize</key>
                <string>{294,274}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>turtle.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccf7748c73738c089c0d2a164afbd7f3:1/1$</string>
            <key>textureFileName</key>
            <string>turtle.png</string>
        </dict>
    </dict>
</plist>
