<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{189,250}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,250}}</string>
                <key>sourceSize</key>
                <string>{193,250}</string>
            </dict>
            <key>brain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,0},{193,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,250}}</string>
                <key>sourceSize</key>
                <string>{193,250}</string>
            </dict>
            <key>brain3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{189,250}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{189,250}}</string>
                <key>sourceSize</key>
                <string>{193,250}</string>
            </dict>
            <key>brain4.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,0},{179,250}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{179,250}}</string>
                <key>sourceSize</key>
                <string>{193,250}</string>
            </dict>
            <key>brain5.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,0},{173,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{173,250}}</string>
                <key>sourceSize</key>
                <string>{193,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>brain.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4ff73da05b182de3d5918a380afb476:1/1$</string>
            <key>textureFileName</key>
            <string>brain.png</string>
        </dict>
    </dict>
</plist>
