<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ray1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{206,179}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{206,179}}</string>
                <key>sourceSize</key>
                <string>{210,179}</string>
            </dict>
            <key>ray2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,181},{198,171}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{198,171}}</string>
                <key>sourceSize</key>
                <string>{210,179}</string>
            </dict>
            <key>ray3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{206,179}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{206,179}}</string>
                <key>sourceSize</key>
                <string>{210,179}</string>
            </dict>
            <key>ray4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,535},{198,159}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{198,159}}</string>
                <key>sourceSize</key>
                <string>{210,179}</string>
            </dict>
            <key>ray5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{210,175}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,175}}</string>
                <key>sourceSize</key>
                <string>{210,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ray.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ffebaaa24043abf07f7a4c48d917f2c:1/1$</string>
            <key>textureFileName</key>
            <string>ray.png</string>
        </dict>
    </dict>
</plist>
