<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jellyfish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{236,404}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{236,404}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>jellyfish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{236,404}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{236,404}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>jellyfish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,812},{236,404}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{236,404}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>jellyfish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1218},{212,404}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{212,404}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
            <key>jellyfish5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1624},{228,412}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,412}}</string>
                <key>sourceSize</key>
                <string>{236,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jellyfish.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54dbece7295542fcf82d73310fb4b628:1/1$</string>
            <key>textureFileName</key>
            <string>jellyfish.png</string>
        </dict>
    </dict>
</plist>
