<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seahorse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{275,420}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,420}}</string>
                <key>sourceSize</key>
                <string>{303,420}</string>
            </dict>
            <key>seahorse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,0},{275,402}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{275,402}}</string>
                <key>sourceSize</key>
                <string>{303,420}</string>
            </dict>
            <key>seahorse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,0},{285,402}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{285,402}}</string>
                <key>sourceSize</key>
                <string>{303,420}</string>
            </dict>
            <key>seahorse4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{295,402}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{295,402}}</string>
                <key>sourceSize</key>
                <string>{303,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>seahorse.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a607791ab12ed518bd3a51107302923:1/1$</string>
            <key>textureFileName</key>
            <string>seahorse.png</string>
        </dict>
    </dict>
</plist>
