<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{105,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,68}}</string>
                <key>sourceSize</key>
                <string>{105,68}</string>
            </dict>
            <key>bye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{105,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,68}}</string>
                <key>sourceSize</key>
                <string>{105,68}</string>
            </dict>
            <key>bye3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{105,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,68}}</string>
                <key>sourceSize</key>
                <string>{105,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bye.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f1d107c69451605b4870adb91213723:1/1$</string>
            <key>textureFileName</key>
            <string>bye.png</string>
        </dict>
    </dict>
</plist>
