<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dolphin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{206,143}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{206,143}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>dolphin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{210,123}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{210,123}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>dolphin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{210,97}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{210,97}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>dolphin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,145},{206,95}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{206,95}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>dolphin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{206,105}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{206,105}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dolphin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:217a9c341828104345996203c2b4fdd5:1/1$</string>
            <key>textureFileName</key>
            <string>dolphin.png</string>
        </dict>
    </dict>
</plist>
