<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>squid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,42}}</string>
                <key>sourceSize</key>
                <string>{96,42}</string>
            </dict>
            <key>squid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,44},{92,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{92,34}}</string>
                <key>sourceSize</key>
                <string>{96,42}</string>
            </dict>
            <key>squid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{96,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,28}}</string>
                <key>sourceSize</key>
                <string>{96,42}</string>
            </dict>
            <key>squid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{96,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{96,26}}</string>
                <key>sourceSize</key>
                <string>{96,42}</string>
            </dict>
            <key>squid5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{96,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>squid.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf74cfafd105a568e3354bc9f1bc684a:1/1$</string>
            <key>textureFileName</key>
            <string>squid.png</string>
        </dict>
    </dict>
</plist>
