<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>starfish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{186,177}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{186,177}}</string>
                <key>sourceSize</key>
                <string>{200,195}</string>
            </dict>
            <key>starfish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{186,173}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{186,173}}</string>
                <key>sourceSize</key>
                <string>{200,195}</string>
            </dict>
            <key>starfish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,179},{186,181}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{186,181}}</string>
                <key>sourceSize</key>
                <string>{200,195}</string>
            </dict>
            <key>starfish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,179},{172,181}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{172,181}}</string>
                <key>sourceSize</key>
                <string>{200,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>starfish.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:838a5725df14893c3ab4d56b3a5a0021:1/1$</string>
            <key>textureFileName</key>
            <string>starfish.png</string>
        </dict>
    </dict>
</plist>
