<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,125}}</string>
                <key>sourceSize</key>
                <string>{96,125}</string>
            </dict>
            <key>brain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{96,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,125}}</string>
                <key>sourceSize</key>
                <string>{96,125}</string>
            </dict>
            <key>brain3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{94,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,125}}</string>
                <key>sourceSize</key>
                <string>{96,125}</string>
            </dict>
            <key>brain4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{90,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,125}}</string>
                <key>sourceSize</key>
                <string>{96,125}</string>
            </dict>
            <key>brain5.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{88,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,125}}</string>
                <key>sourceSize</key>
                <string>{96,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>brain.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dfee4f0f8c4462e371597f599ccea47:1/1$</string>
            <key>textureFileName</key>
            <string>brain.png</string>
        </dict>
    </dict>
</plist>
