<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diver1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{97,250}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,250}}</string>
                <key>sourceSize</key>
                <string>{107,250}</string>
            </dict>
            <key>diver2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,0},{97,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{97,250}}</string>
                <key>sourceSize</key>
                <string>{107,250}</string>
            </dict>
            <key>diver3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{107,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,250}}</string>
                <key>sourceSize</key>
                <string>{107,250}</string>
            </dict>
            <key>diver4.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,252},{97,250}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{97,250}}</string>
                <key>sourceSize</key>
                <string>{107,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diver.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3c8e5833bf8bf411efda1fbe866a11c:1/1$</string>
            <key>textureFileName</key>
            <string>diver.png</string>
        </dict>
    </dict>
</plist>
