<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>squid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{130,64}}</string>
                <key>sourceSize</key>
                <string>{140,64}</string>
            </dict>
            <key>squid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{136,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{136,52}}</string>
                <key>sourceSize</key>
                <string>{140,64}</string>
            </dict>
            <key>squid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{140,42}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{140,42}}</string>
                <key>sourceSize</key>
                <string>{140,64}</string>
            </dict>
            <key>squid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{140,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{140,40}}</string>
                <key>sourceSize</key>
                <string>{140,64}</string>
            </dict>
            <key>squid5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{140,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{140,36}}</string>
                <key>sourceSize</key>
                <string>{140,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>squid.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0704fb8df7ad88a4780013a44fd3a8cc:1/1$</string>
            <key>textureFileName</key>
            <string>squid.png</string>
        </dict>
    </dict>
</plist>
