<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>starfish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,99}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,99}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>starfish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,0},{104,95}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{104,95}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>starfish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,101},{104,101}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{104,101}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>starfish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,101},{96,101}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{96,101}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>starfish.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38b04ceff00535fa008b5b5469a5bad9:1/1$</string>
            <key>textureFileName</key>
            <string>starfish.png</string>
        </dict>
    </dict>
</plist>
