<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>starfish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,37}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>starfish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,0},{40,37}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{40,37}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>starfish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{40,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>starfish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,41},{36,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{36,39}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>starfish.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28163095ed7fc6c59242544b16261024:1/1$</string>
            <key>textureFileName</key>
            <string>starfish.png</string>
        </dict>
    </dict>
</plist>
