<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jellyfish1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{59,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,101}}</string>
                <key>sourceSize</key>
                <string>{59,105}</string>
            </dict>
            <key>jellyfish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,0},{59,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,101}}</string>
                <key>sourceSize</key>
                <string>{59,105}</string>
            </dict>
            <key>jellyfish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{59,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,101}}</string>
                <key>sourceSize</key>
                <string>{59,105}</string>
            </dict>
            <key>jellyfish4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,0},{53,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,101}}</string>
                <key>sourceSize</key>
                <string>{59,105}</string>
            </dict>
            <key>jellyfish5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,103},{57,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,103}}</string>
                <key>sourceSize</key>
                <string>{59,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jellyfish.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3605cd309ef7d6e42863d62677dc7e4:1/1$</string>
            <key>textureFileName</key>
            <string>jellyfish.png</string>
        </dict>
    </dict>
</plist>
