<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orca1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,125}}</string>
                <key>sourceSize</key>
                <string>{210,125}</string>
            </dict>
            <key>orca2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{210,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,125}}</string>
                <key>sourceSize</key>
                <string>{210,125}</string>
            </dict>
            <key>orca3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{210,121}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,121}}</string>
                <key>sourceSize</key>
                <string>{210,125}</string>
            </dict>
            <key>orca4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,127},{210,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{210,117}}</string>
                <key>sourceSize</key>
                <string>{210,125}</string>
            </dict>
            <key>orca5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{210,121}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{210,121}}</string>
                <key>sourceSize</key>
                <string>{210,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>orca.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd22e61475c158a5818d54dee5387cd0:1/1$</string>
            <key>textureFileName</key>
            <string>orca.png</string>
        </dict>
    </dict>
</plist>
