<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>seahorse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{192,294}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,294}}</string>
                <key>sourceSize</key>
                <string>{212,294}</string>
            </dict>
            <key>seahorse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{192,282}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{192,282}}</string>
                <key>sourceSize</key>
                <string>{212,294}</string>
            </dict>
            <key>seahorse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{200,282}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{200,282}}</string>
                <key>sourceSize</key>
                <string>{212,294}</string>
            </dict>
            <key>seahorse4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,296},{206,282}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{206,282}}</string>
                <key>sourceSize</key>
                <string>{212,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>seahorse.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d0e42b7c6a75ac2a902d0f39802c999:1/1$</string>
            <key>textureFileName</key>
            <string>seahorse.png</string>
        </dict>
    </dict>
</plist>
