<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dolphin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,68}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dolphin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{100,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{100,58}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dolphin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{100,46}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,46}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dolphin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,70},{98,46}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,46}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>dolphin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{98,50}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,50}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dolphin.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c448e596b4dd8c45cbe8209cd0cb4d9b:1/1$</string>
            <key>textureFileName</key>
            <string>dolphin.png</string>
        </dict>
    </dict>
</plist>
